<% @page_title = "user sign up"%>
<div class ="sign_up_form">
	<h1>Sign Up</h1>
	<%= form_for(:user, :url => {:controller => ':users', :action => 'create'}) do |f|%>
	<p>Name <%= f.text_field :name %></p>
	<p>Email <%= f.text_field :email %></p>
	<p>Password <%= f.password_field :password %></p>
	<p>Password Confirmatin <%= f.password_field :password_confirmation %></p>
	<%= f.submit :Signup%>
	<% end %>
	<% if @user.errors.any? %>
	<ul class = "signup_error">
	<% for message_error in @user.errors.full_messages %>
	<li><%= message_error %>
	<% end %>
	</li>
	</ul>
	<% end %>
</div>
